asgiref
Django
django-extensions
djangorestframework
djangorestframework-simplejwt
django-silk
drf-spectacular
django-filter
pillow
sqlparse
tzdata
# Production
gunicorn
whitenoise
psycopg2-binary
dj-database-url
